.homeContainer {
    height: 40vh;
    padding: 2rem;
    background-image: url("../assets/background.png");
}


.redirectButton {
    display: block;
    background-color: transparent;
    border-radius: 9px;
    border: 0.5px solid white;
    color: white;
    /* bottom: 10%;
    position: absolute;
    bottom: 20%;
    left: 15%; */
    margin-top: 20vh;
}

body {
    /* background-color: #020110; */
    background-image:url(src/assets/background.png);
    background-size: cover;
    
}

.title {
    width: 100%;
    display: flex;
}

.title h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    font-size: 5em;
    /* line-height: 133px; */
    color: #FFFFFF;
    margin: 0;
}

.homeContainer p {
    color: white;
    font-weight: 300;
    font-size: 25px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 0;
    text-align: left;;
}

#code {
    color:orange;
}