.container {
  position: relative;
  height: 100%;
}

.content-container {
  text-align: left;
}

.submit-button {
  position: absolute;

  /* TODO: is there a way to pos absolute respecting Frame padding? */
  bottom: 18px;
  left: 0;
  width: -webkit-fill-available;

  margin-left: 18px;
  margin-right: 18px;
}

.desired-graph-container {
  width: 100%;
  overflow-x: scroll;
  text-align: center;
}

.desired-graph-container img {
  /* max-height: 20vh; */
  width: 95%;
  border: 4px solid #7A4CC5;
  border-radius: 4px;
}

.desired-graph-container::-webkit-scrollbar {
  display: none;
}

