.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #343434;
    border: 2px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal-title {
    margin-bottom: 10px !important;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  .modal-question-title{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ab47bc;
    text-align: center;
  }
  
  .modal-text {
    color: #fff;
    text-align: left;
  }
  
  .modal-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .green-tick {
    width: 10vw;
    margin: auto;
    display: block;
  }

  .modal-key-commands {
    color: #fff;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: gray;
  }
  
  .imgContainer{
    width: 30%;
  }

  .modal-discussion {
    margin-bottom: 10px;
    color: grey;
    text-align: left;
  }