
.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  float: left;
  justify-content: flex-start;
  font-size: 5rem !important;
  font-stretch: 2px !important;
}

.blurb {
  color: white;
  text-align-last: left;
  font-size: 1.6rem !important;
}

.button {
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 9px !important;
  color: white !important;
  margin-top: 50% !important;
  bottom: 0 !important;
  width: 164px !important;
  height: 40px !important;
  font-size: 1.3rem !important;
}
