.root {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
  }
  
  .appBar {
    background: #252525;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    font-family: 'inter';
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .title:hover {
    color: #FFB800;
  }
  
  .subTitle {
    font-family: 'inter';
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFB800;
    text-decoration: none;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .subTitle:hover {
    color: white;
  }
  
  .loginButton,
  .signupButton {
    color: white;
  }
  
  .userIcon {
    font-size: 2rem;
    color: #FFB800;
    padding-right: 1rem;
  }
  
  .userMenu {
    /* margin-top: 45px; */
  }
  
  .menuItem {
    display: flex;
    justify-content: center;
  }
  
  .progressBar {
    background-color: #31884F;
  }
  